<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wallpaper.activity"
          android:versionCode="3"
          android:versionName="1.2.0">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/config_theme"
            android:uiOptions="splitActionBarWhenNarrow">
        <activity
                android:name=".LauncherActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".HomeActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>